.row.align-items-stretch>.col-sm-4,
.col-lg-4,
.col-md-4 {
  margin-bottom: 20px;
}

.d-flex small>span {
  margin-left: 5px;
}

.page-container {
  width: 90%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

/*::ng-deep .cal-month-view .cal-day-cell {
  min-height: 87px !important;
}*/

.card.calender-wrapper {
  margin-bottom: 0;
}

/* Event Overlay Styles */
/* Event Overlay Styles */
.event-card-overlay {
  .img-wrapper {
    height: 180px;
    overflow: hidden;
    position: relative;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .event-overlay-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 70%, transparent 100%);
    padding: 15px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.btn-group > button {
  padding: 5px 10px;
}