<div class="logo-wrapper">
  <a href="javascript:void(0)" [routerLink]="['/']" class="logo-text">
    <span class="barrio-text">Barrio</span><span class="link-text">Link</span>
  </a>

  @if (type() === "sidebar") {
    <ng-content select="[icon]" />

    <div class="toggle-sidebar" (click)="toggleSidebar()">
      <app-feather-icon
        [icon]="icon()"
        [class]="'status_toggle middle sidebar-toggle'"
      />
    </div>
  }
</div>

@if (type() === "header") {
  <ng-content />

  <div class="toggle-sidebar" (click)="toggleSidebar()">
    <app-feather-icon
      [icon]="icon()"
      [class]="'status_toggle middle sidebar-toggle'"
    />
  </div>
}
