.blog-details {
  h6 {
    -webkit-line-clamp: unset !important;
    line-clamp: unset !important;
    display: block !important;
    overflow: visible !important;
    text-overflow: clip !important;
  }

  p {
    -webkit-line-clamp: unset !important;
    line-clamp: unset !important;
    display: block !important;
    overflow: visible !important;
    text-overflow: clip !important;
  }
}
