@if (dropdownType === 'simple') {
  <div
    class="dropdown icon-dropdown"
    [ngClass]="dropdownClass"
    [class.show]="isOpen"
    role="group"
  >
    <button
      class="btn dropdown-toggle"
      type="button"
      (click)="toggleDropdown($event)"
      [attr.aria-expanded]="isOpen"
      aria-haspopup="true"
    >
      <i class="icon-more-alt"></i>
    </button>

    <div
      class="dropdown-menu dropdown-menu-end"
      [class.show]="isOpen"
      role="menu"
    >
      @for (option of options; track option.id) {
        <a
          class="dropdown-item d-flex align-items-center"
          [ngClass]="option.itemClass"
          href="javascript:void(0)"
          (click)="selectItem(option.title)"
          role="menuitem"
        >
          @if (option.iconHtml) {
            <span class="me-2" [innerHTML]="option.iconHtml"></span>
          }
          <span>{{ option.title }}</span>
        </a>
      }
    </div>
  </div>
} @else {
  <!-- Variante classic -->
  <div
    class="dropdown"
    [ngClass]="dropdownClass"
    [class.show]="isOpen"
    role="group"
  >
    <button
      class="btn dropdown-toggle"
      type="button"
      (click)="toggleDropdown($event)"
      [attr.aria-expanded]="isOpen"
      aria-haspopup="true"
    >
      {{ selectedItem }}
    </button>

    <ul
      class="dropdown-menu"
      [class.show]="isOpen"
      role="menu"
    >
      @for (option of options; track option.id) {
        <li>
          <a
            class="dropdown-item d-flex align-items-center"
            [ngClass]="option.itemClass"
            href="javascript:void(0)"
            (click)="selectItem(option.title)"
            role="menuitem"
          >
            @if (option.iconHtml) {
              <span class="me-2" [innerHTML]="option.iconHtml"></span>
            }
            <span>{{ option.title }}</span>
          </a>
        </li>
      }
    </ul>
  </div>
}
